/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */


ion-button {
    --background: yellow; /* Fondo amarillo */
    --color: black; /* Texto negro */
    font-weight: bold;
  }
  